<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Library</title>
</head>
<body>
    Welcome Friends! {{message}}
    <br>
    <a href="/borrow">Borrow Books</a>
    <br>
    <a href="/return">Return Books</a>
    <br>
    <a href="/book">Show Available Books</a>
    <br>
    <a href="/member">Show All Members</a>
</body>
</html>