<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrow Books</title>
</head>
<a href="/">Home</a>
<br>
<br>
<body>
    <form action="" method="POST">
        <span>Return Book</span>
        <br>
        {{#each members}}
            <input type="checkbox" name="id" value"{{ id }}">
            <label for=" {{ id }} ">{{ name }},</label>
            <span>Books =></span>
            <span>
                {{#each books}}
                    ({{ title }})
                {{/each}}
            </span>
            <br>
        {{/each}}
    </form>
    <br>
    <input type="submit">
   
</body>
</html>